@import "tailwindcss";
@plugin "daisyui" {
  themes: light, night --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: orange;
  --color-secondary: #058c42;
  --color-accent: #16db65;
}

a.active {
  text-decoration: underline;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
